.map-container {
    margin-top: -150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 200px; */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}
