.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(119, 151, 255, 0.5); 
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* z-index: 1000; */
    color: white;
}

.navbar-logo h1 {
    font-size: 15px;
    /* font-weight: 200px; */
    margin-left: 200px;
    color: rgb(246, 4, 4);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li {
    text-decoration: none;
    color: rgb(246, 4, 4);
    font-size: 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-links a:hover {
    color: #ff4081;
}

.navbar-button button {
    background-color: #ff4081;
    margin-right: 70px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-button button:hover {
    background-color: #e91e63;
}


@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-logo h1 {
        margin: 10px 0;
        font-size: 1.2rem;
        text-align: center;
        flex-basis: 100%;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none; /* Hide menu by default */
    }

    .nav-links.active {
        display: flex; /* Show menu when toggled */
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-button {
        flex-basis: 100%;
        text-align: center;
    }
}

/* Hamburger menu for smaller screens */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}