.small-container {
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-left: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.stat-item {
    text-align: center;
    flex: 1;
    padding-bottom: -200px;
    border-right: 1px solid #ddd;
    /* margin-bottom: 10px; */
}

.stat-item:last-child {
    border-right: none;
}

.stat-item h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.stat-item p {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
